<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Primer JSF Managed Bean</title>
        <h:outputStylesheet library="css" name="estilos.css"/>
    </h:head>
    <h:body>
         <h:form>
        <br>
            <div align="center"  >
                <h:outputLabel styleClass="titulo">
                    Calculadora Aritmética en JSF
                </h:outputLabel>
            </div>
        </br>
        <hr>
            <div align="center">
               
                    <h:panelGrid columns="1">
                        <h:outputLabel >
                            Introduzca el primer operando:
                            <h:inputText id="ope1" required="true" value="#{cal.ope1}"/>
                            <h:message for="ope1"/>
                        </h:outputLabel>

                        <h:outputLabel>
                            Introduzca el segundo operando:
                            <h:inputText id="ope2" required="true" value="#{cal.ope2}"/>
                            <h:message for="ope2"/>
                        </h:outputLabel>
                    </h:panelGrid>          


           
            </div>
        </hr>
        <hr>
            <div align="center">
                
                    <h:outputText  value="Por favor seleccione la operación a realizar ">                       
                    </h:outputText> 
                    <br>
                    <div styleClass="radioButton">
                        <h:selectOneRadio  layout="pageDirection"  value="#{cal.operacion}">
                            <f:selectItem itemLabel="suma" itemValue="suma"/>
                            <f:selectItem itemLabel="resta" itemValue="resta"/>
                            <f:selectItem itemLabel="multiplicación" itemValue="multiplicacion"/>
                            <f:selectItem itemLabel="división" itemValue="division"/>
                        </h:selectOneRadio>       
                    </div>
                    </br>
                    <h:commandButton value="Ejecutar" action="#{cal.operaciones()}"/>
                    <h:commandButton value="Reiniciar"/>
                    <br>
                    <h:outputText  value="El resultado es: #{cal.resultado}">                       
                    </h:outputText> 
                        </br>
                
            </div>
            </hr>
            </h:form>
            </h:body>
</html>

