/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25/02/2016, 07:26:49 AM
    Author     : Rocío
*/


.titulo{
    font-weight: bold;
    font-size: 30px;
}

